<!-- 首页 -->
{extend name="common/base" /}
{block name="header"}
<style type="text/css">
	.layui-main{
		background-color: #ccc;
		height: 100px;
	}
	.carousel{
		width: 100%;
	}
</style>
{/block}
{block name="body"}
<!-- 轮播图begin -->
<div class="layui-carousel" id="header-carousel">
	<div carousel-item>
		{foreach name="list" item="val"}
		   {if condition="$val.status==1"}
		   	  <div><a href="{$val.url}"><img src="{$val.src}" class="carousel" alt="{$val.desc}"></a></div>
		   {/if}
		{/foreach}
	</div>
</div>
<!-- 轮播图end -->
<div class="layui-main" style="height: 600px;">
</div>
{/block}
{block name="footer"}
<script type="text/javascript">
	layui.use(['element','jquery','carousel','layer'],function(){
		var element = layui.element,
			$ = layui.$,
			carousel = layui.carousel,
			layer =  layui.layer;
			//轮播图
			carousel.render({
				elem:'#header-carousel',
				width:'100%',
				height:'260px',
				anim:'fade'
			});
			//注册弹层
	});
</script>
	<script type="text/javascript">
			function register(title,url,w,h) {
				openPage(title,url,w,h);
			}
			function login(title,url,w,h){
				openPage(title,url,w,h);
			}
	</script>
{/block}